.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}

h1 {
  margin: 0;
  color: var(--text);
}
